<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
        <title>CODE Search Engine</title>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar_settings">
                <a href=settings class="button">Settings</a>
            </div>
        </div>
        
        <div class="content">
            <div id="main_title">
                <img src="{{ url_for('static', filename='images/logo.png')}}" alt="CODE Search Engine">
            </div>
            <form id="form_main" method="POST" action="results">
                <input id= "search_bar" type="text" name="search_terms" required>
                <input class="button" type="submit" value="Search">
            </form>
        </div>

    </body>
</html>