<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CODE Search Engine</title>
    </head>
    <body>
        <h1>
            CODE Search Engine
        </h1>
        <form method="POST" action="results">
            <input type="text" name="query" required>
            <input type="submit" value="search!">
        </form>
        <a href=settings ><button>Settings</button></a>
    </body>
</html>