<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <title>CODE Search Engine | Settings</title>
</head>
<body>
    <div class="navbar">
        <div class=navbar_logo>
            <a href=/><img src="{{ url_for('static', filename='images/logo_small.png')}}" alt="CODE Search Engine"></a>
        </div>
        <div id="save_button">
            <input class = "button" form="settings_form" type="submit" value="Save">
        </div>
        <div class="navbar_settings">
            <a href=/ class="button">Don't save</a>
        </div>

    </div>
    <div class="content">
        <h3><i>Changing these settings requires a reload of the term weight matrix. But don't worry, CODE Search Engine will do that for you.</i></h3>
        <form id="settings_form" method="POST" action="savedsettings">
            <div class="setting">
                <h3>Choose custom directory</h3>
                <p>Current directory is: {{directory}}</p>
                <input type="file" name="folder" webkitdirectory>
                <p>Only .txt files in the chosen directory will be added to the CODE Search Engine.</p>
            </div>
            <div class="setting">
                <h3>Language used for text processing</h3>
                <select name="language" selected="{{language}}">
                    <option value="dutch">Dutch</option>
                    <option value="english">English</option>
                </select>
                <p>The chosen language will be used to determine stopwords in the text and stem and/or lemmatize the text.</p>
            </div>
            <div class="setting">
                <h3>unwanted characters</h3>
                <input type="text" name="unwanted_chars" value="{{unwanted_chars}}">
                <p>These characters will be removed from texts in the lexical analysis.</p>
            </div>
        </form>
        <div class= "setting"> 
            This is a setting.
        </div>
        <div class= "setting"> 
            This is a setting.
        </div>
        <div class= "setting"> 
            This is a setting.
        </div>
        <div class= "setting"> 
            This is a setting.
        </div>
    </div>
</body>
</html>