<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <title>CODE Search Engine | Settings</title>
</head>
<body>
    <div class="navbar">
        <div class=navbar_logo>
            <a href=/><img src="{{ url_for('static', filename='images/logo_small.png')}}" alt="CODE Search Engine"></a>
        </div>
        <div id="save_button_box">
            <input class="button" form="settings_form" type="submit" name="submit_button"value="Save">
        </div>
        <div id="reset_button_box">
            <input class="button" form="settings_form" type="submit" name="submit_button"value="Reset to defaults">
        </div>
        <div class="navbar_settings">
            <a href=/ class="button">Don't save</a>
        </div>

    </div>
    <div class="content">
        <h3><i>Changing and saving these settings requires a reload of the term weight matrix. But don't worry, CODE Search Engine will do that for you.</i></h3>
        <h2>{{warning}}</h2>
        <form id="settings_form" method="POST" action="savedsettings">
            <div class="setting">
                <h3>Choose custom directory</h3>
                <p>Current directory is: {{directory}}</p>
                <input type="text" name="folder" placeholder="/set/path/to/a/new/directory/here/">
                <p>Only .txt files in the chosen directory will be added to the CODE Search Engine.</p>
            </div>
            <div class="setting">
                <h3>Language</h3>
                <select name="language" selected="{{language}}">
                    <option value="dutch" {{ 'selected' if not isenglish }}>Dutch</option>
                    <option value="english" {{ 'selected' if isenglish }} >English</option>
                </select>
                <p>The chosen language will be used to determine stopwords in the text and stem and/or lemmatize the text.</p>
            </div>
            <div class="setting">
                <h3>Unwanted characters</h3>
                <input type="text" name="unwanted_chars" value="{{unwanted_chars}}">
                <p>These characters will be removed from texts in the lexical analysis.</p>
            </div>
            <div class= "setting"> 
                <div id=stem_setting>
                    <h3>Stemmer</h3>
                    <input type="checkbox" name="enable_stemmer" {{ 'checked="checked"' if enable_stemmer }}>
                    <p>A stemmer removes all suffixes from the words in the documents. It can result in "unnatural" words.</p>
                    <p>If enabled, the stemmer of the chosen language is used.</p>
                </div>
            </div>
            <div class= "setting">
                <h3>Lemmatizer</h3>
                <input type="checkbox" name="enable_lemmatizer" {{ 'checked="checked"' if enable_lemmatizer }}>
                <p>A lemmatizer sets all words with the same meaning (e.g. runs, ran, running) to one word (run). </p>
                <p>Even if checked, the lemmatizer does not work with the Dutch language since it does not exist in used libraries.</p>
            </div>
        </form>

    </div>
</body>
</html>
